@import 'variables';

.faq {
  margin: 0 50px;
  @media screen and (max-width: $break-pont-small-mobile) {
    margin: 0 15px;
  }
}
.head {
  color: $color-red;
}

.questions {
  @media screen and (max-width: $break-point-mobile) {
    margin: 0;
  }
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.question {
  padding: 5px 0;
  &:first-child {
    border-top: 2px solid $color-red;
  }
  border-bottom: 2px solid $color-red;
  width: 100%;
}
