@import 'variables';
.image {
  height: 380px;
  background-image: url('../../assets/dogo.png');
  background-size: cover;
  background-position: center center;
  position: relative;
  @media screen and (max-width: $break-pont-small-mobile) {
    height: 190px;
  }
  position: relative;
}

.links {
  right: 20%;
  top: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.googleLink {
  img {
    height: 60px;
  }
}

.iosLink {
  img {
    height: 60px;
  }
}
