@import "variables";
.teamMemberList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  max-width: $content-max-width;
  margin: 0 auto;
}
.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  padding: 10px;
}
.bubble {
  background: $color-weak-grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.description {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: $color-red;
  font-family: $font-roboto;
}
.name {
  margin-top: 20px;
  font-weight: 600;
  font-family: $font-raleway;
}