@import 'variables';

.icon {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header {
  color: $color-red;
  text-transform: uppercase;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 16px;
  font-family: $font-roboto;
}

.text {
  font-family: $font-roboto;
  color: $color-red;
  font-size: 14px;
  line-height: 15pt;
  text-align: center;
  display: inline-block;
}