@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question {
  margin-top: 26px;
  margin-bottom: 14px;
  font-weight: 700;
}

.answer {
  margin-bottom: 26px;
}

.button {
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  color: $color-red;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 0;
}

.arrowButton {
  margin-right: 20px;
  border-radius: 3px;
  padding: 4px 4px 6px 4px;
  border: 2px solid $color-red;

  &.isOpen {
    background-color: $color-red;
    fill: white;
    transform: rotate(180deg);  
  }
  &.isClosed {
    fill: $color-red;  
  }
}
