@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question {
  margin-top: 26px;
  margin-bottom: 14px;
  font-weight: 700;
}

.answer {
  margin-bottom: 26px;
}

.button {
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  color: $color-red;
  display: flex;
  align-items: center;
}

.iconPlaceHolder {
  margin-right: 15px; 
  height: 20px;
  width: 20px;
}

.iconOpen {
  background-color: red;
}

.iconClosed {
  background-color: black;
}