@import 'variables';
.header {
  background-color: $color-red;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 25px 0 168px;
  justify-content: space-between;
}
.logo {
  width: 120px;
  fill: white;
}