@import 'variables';
.stats {
  background-color: $color-grey;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 40px $padding-distance;
  margin: 0;
  @media screen and (max-width: $break-point-mobile) {
    flex-wrap: wrap;
    padding: 20px 0;
  }
}

.stat {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  @media screen and (max-width: $break-pont-small-mobile) {
    width: 50%;
  }
  .number {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 14px;
  }
  .text {
    color: $color-red;
    font-size: 14px;
    font-weight: 700;
  }
}